# User-specific files
#tests
data/az/az-test-default
data/smoke/smoke-test-default
data/logs
*.user*
*.env*
.env
.env.user
*.terraform
*.tfplan
*.tfstate
*.tfvars
.terraform.lock.hcl
*terraform.tfstate.backup
*.terraformrc
.env.user
.env
.env
.env.user
*.csv
*.pem
terraformer.exe
project*